Flask
flask_graphql
flask-sockets
gevent
graphql-ws
graphene
graphene-federation
chromadb==0.4.12
tiktoken
openai
nltk
PyPDF2
sentence_transformers
python-dotenv
Flask-CORS
google-cloud-logging
stability-sdk
weaviate-client
